body {
    font-family: "Source Code Pro";
}

.new-note-input {
    height: 300px;
}

.modals-row {
    width: 96% !important;
}

.header-icon-link {
    color: black;
}

.display-none {
    display: none;
}

.not-logged-in-content {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    text-align: center;
}

.login-btn {
    margin-left: 15px;
}

.nlc-icon {
    color: #2c3e50;
}
