body {
    font-family: "Source Code Pro";
}

.new-note-input {
    height: 300px;
}

.modals-row {
    width: 96% !important;
}

.header-icon-link {
    color: black;
}

.display-none {
    display: none;
}
